.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 854px;
  margin: 0 auto;
  background-color: #000;
  padding: 10px;
  border-radius: 8px;
}

.controls {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}

.controls button {
  margin-right: 10px;
  padding: 6px 12px;
  font-size: 20px;
  background-color: #1db954;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.controls button:hover {
  background-color: #1ed760;
}

.controls input[type='range'] {
  flex-grow: 1;
  margin-right: 10px;
  appearance: none;
  height: 5px;
  background: #444;
  border-radius: 5px;
  outline: none;
}

.controls input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  background: #1db954;
  border-radius: 50%;
  cursor: pointer;
}

.controls input[type='range']::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #1db954;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.controls span {
  font-size: 14px;
}
